node_modules
dist
dist-ssr
*.local
.DS_Store
.vercel

# Android SDK tools
platform-tools/
build-tools/
licenses/
platforms/
.knownPackages
.granite
.env*.local
.env.blob
.env.prod
games/game01/android/.wrangler/
